<div class="container">
  <h2>Send Email</h2>
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">

    <div class="form-group">
      <label for="recipient">Recipient Email:</label>
      <input type="email" id="recipient" required [(ngModel)]="emailDto.recipient" name="recipient" class="form-control">
    </div>

    <div class="form-group">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" required [(ngModel)]="emailDto.subject" name="subject" class="form-control">
    </div>

    <!-- <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" required [(ngModel)]="username" name="username" class="form-control">
    </div> -->

    <button type="submit" class="btn btn-primary">Send Email</button>

  </form>
  <div *ngIf="response">
    <h3>Response</h3>
    <pre>{{ response | json }}</pre>
  </div>
</div>
